<br><br><br>
<div style="padding-right: 90px; padding-left: 90px;">
    <h1 class="title" style="text-align: center;">- Table Attendances -</h1>
    <hr class="line">
    <div class="p-d-flex p-p-3">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2" (click)="showAbsentModal()" [disabled]="!data || !data.length"></button>
        <div class="p-ml-auto">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input type="text" pInputText placeholder="Global Search" (input)="dt.filterGlobal($event.target.value, 'contains')">         
            </div>
        </div>
    </div>
    <p-table (onHeaderCheckboxToggle)="test($event)" [(selection)]="data" selectionMode="single" dataKey="_id" #dt [globalFilterFields]="['name', 'position']" [value]="attendance" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50, {showAll: 'All'}]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem; background: transparent;">
                    <p-tableHeaderCheckbox [hidden]="statusChecker()"></p-tableHeaderCheckbox>
                </th>
                <th style="background-color: transparent; font-weight: bold; text-align: center; width: 60px;">NO</th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;" pSortableColumn="name">NAME
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;" pSortableColumn="position">POSITION
                    <p-sortIcon field="position"></p-sortIcon>
                </th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;" pSortableColumn="currentPresentDetail">STATUS
                    <p-sortIcon field="currentPresentDetail"></p-sortIcon>
                </th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;">DETAIL</th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;">ACTION</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-att let-i="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="att" *ngIf="!att.currentPresentDetail?.reason"></p-tableCheckbox>
                </td>
                <td [hidden]="true">{{att._id}}</td>
                <td style="text-align: center;">{{i + 1}}</td>
                <td style="text-align: center; text-transform: capitalize;">{{att.name}}</td>
                <td style="text-align: center; text-transform: capitalize;">{{att.position}}</td>
                <td style="text-align: center; text-transform: uppercase; font-weight: bold;" [class]="(attendanceChecker(att.currentPresentDetail) == 'not yet') ? 'text text-danger' : 'text text-success'" [innerHTML]="attendanceChecker(att.currentPresentDetail)"></td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-secondary" data-toggle="modal" (click)="showDetailModal(att)" [disabled]="attendanceChecker(att.currentPresentDetail) == 'not yet'"></button>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-success" data-toggle="modal" (click)="showUpdateModal(att)" [disabled]="attendanceChecker(att.currentPresentDetail) == 'not yet'"></button>
                    <!-- <button class="btn btn-outline-danger" data-toggle="modal" (click)="showDeleteConfirm(attendanceChecker((att.currentPresentDetail) == 'already') ? att.currentPresentDetail._id : null )" [disabled]="attendanceChecker(att.currentPresentDetail) == 'not yet'">
                        <span class="fa fa-trash fa-fw" aria-hidden="true"></span>
                    </button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-delete-confirm></app-delete-confirm>
<app-attendance-absent></app-attendance-absent>
<app-attendance-update></app-attendance-update>
<app-attendance-detail></app-attendance-detail>
