.line {
    border: 3px solid rgba(228, 228, 228, 0.726);
    border-radius: 5px;
    width: 150px;
	margin: 10px auto 10px auto;
}

.content {
    float: left;
    list-style-type: none;
    padding-top: 20px;
}

.sub_jdl {
    font-size: 14pt;
    color: black;
}

.sub-tle:hover {
    color: #000000;
    opacity: 10%;
    text-decoration: none;
}

footer {
    background-color: transparent;
    position: fixed;
    bottom: 0%;
    font-size: 12pt;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
}

.login {
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.form-control {
    color: black;
}

.space {
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.title {
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.title-cldr {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.add_btn {
    margin-bottom: 15px;
}

::-moz-selection {
    color: #ffffff;
    background-color: #000000;
}

::selection {
    color: #ffffff;
    background-color: #000000;
}

.bold {
    font-weight: bold;
}

.position-close-mdl {
    position: absolute;
    right: 20px;
}

.hide-scrollbar {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
}

.sticky {
    position: sticky;
    top: 0%;
    z-index: 4;
    background-color: white;
}

.bld-txt {
    font-weight: bold;
}
.scr-mdl {
    margin:4px, 4px; 
    padding:4px;
    width: 475px; 
    height: 330px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align: justify; 
}

.frm-lgn-left {
    border-radius: 25px 0px 0px 25px;
    background-color: rgba(228, 228, 228);
}

.frm-lgn-right {
    border-radius: 0px 25px 25px 0px;
    background-color: rgba(228, 228, 228);
}

.parag {
    bottom: 90px;
}

.magee {
    width: 310px;
    position: absolute;    
    top: 0px;
    left: 10px;
    right: 0px;
}

.solid{
    border: 2px solid rgba(228, 228, 228, 0.726);
    border-radius: 5px;
}

.centle{
    text-align: center;
}

.crd {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 350px;
	perspective: 1000px;
	transform-style: preserve-3d;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
    z-index: 1;
}

.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #131313;
	backface-visibility: hidden;
	border-radius: 15px;
}

.flip-card .back {
	transform: rotateY(180deg);
	color: #000;
	background: #131313;
}

.crd:hover .flip-card {
	transform: rotateY(6deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

:checked + .flip-card {
	transform: rotateY(180deg);
}
.crd:hover :checked + .flip-card {
	transform: rotateY(175deg);
	box-shadow: 15px rgba(255, 255, 255, 0.2);
}

.front img {
	width: 180px;
	height: 180px;
	margin: 35px 0 20px 0;
    border-radius: 50%;
    box-shadow: 0 0 20px 3px rgba(225, 225, 225, 225);
}

.front h1 {
	font-size: 26px;
	color: rgba(225, 225, 225, 225);
	margin: 0;
}
.front h2 {
	font-size: 18px;
	color: rgba(225, 225, 225, 225);
	margin: 12px 0 12px 0;
}


.back h1 {
	color: rgba(225, 225, 225, 225);
	margin: 30px 0 0 0;
}

.back p {
	font-size: 16px;
	color: rgba(225, 225, 225, 225);
	padding: 0 18px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}

.img-lgnfrm {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.icon-archive {
    font-size: 150px;
    margin: 35px 55px 30px 55px;
    color: rgba(225, 225, 225, 225);
}

.jdl-archive {
    margin: 0px 0px 0px 8px;
    line-height: 0%;
    color: rgba(225, 225, 225, 225);
}

.archive-hover:hover {
    text-decoration: none;
}

.icon-archive:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.jdl-archive-list {
    padding-top: 58px;
    padding-left: 130px;
    color: #e86100;
}

.jdl-archive-list:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);   
}

.txt-transform {
    text-transform: capitalize;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';