<div>
    <img src="../../assets/img/banner.png" style="height: 100%; width: 100%;">
</div>
<!-- menubarcontent -->
<div class="p-d-flex p-p-2 p-shadow-1 sticky" style="width: 100%;">
    <button pButton pRipple type="button" class="p-mr-2 p-button-text p-button-secondary" (click)="getSide()" icon="pi pi-bars"></button>
    <p-button label="{{date | date:'EEEE, d MMM yyyy'}}" icon="far fa-calendar" styleClass="p-button-secondary p-button-text title-cldr" (click)="calendarDisplay()"></p-button>
    <marquee class="title" scrollamount="13" direction="left" width="850" height="30" style="padding-top: 10px; font-weight: bold; color: #000000;">"The sun has set, but NOXIOUS still shining"</marquee>
    <button pButton pRipple type="button" icon="pi pi-sign-out" label="Logout" class="p-ml-auto p-button-danger title-cldr" (click)="showLogoutConfirm()"></button>
</div>
<!-- sidebarcontent -->
<p-sidebar [(visible)]="display" [style]="{width:'280px'}" [showCloseIcon]="false">
    <span>
        <button #btnClose [style]="{'float':'left 10px'}" (click)="display = false" pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-secondary"></button>
    </span><br>
    <ul class="content">
        <h3 class="title">Menu</h3>
        <hr>
        <li><a class="sub_jdl title sub-tle" routerLink="/employee" (click)="closeNav()">Employees</a></li>
        <li><a class="sub_jdl title sub-tle" routerLink="/attendance" (click)="closeNav()">Attendances</a></li>
        <li><a class="sub_jdl title sub-tle" routerLink="/report" (click)="closeNav()">Report</a></li><br>
        <li><a class="sub_jdl title sub-tle" routerLink="/about" (click)="closeNav()">About Us</a></li>
    </ul>
</p-sidebar>

<!-- calendarcontent -->
<p-dialog header="MY CALENDAR" [(visible)]="displayCalendar" [modal]="true" [draggable]="false" [resizable]="false">
    <p-calendar [inline]="true"></p-calendar>
</p-dialog>

    <router-outlet></router-outlet>
<!-- footercontent -->
<br><br><br>
<footer style="letter-spacing: 0.25em;">Copyright &copy; 2020. NOXIOUS&trade;</footer>
<app-logout-confirm></app-logout-confirm>
