<div class="container">
    <div>
        <div style="padding-top: 5%; padding-bottom: 5%; width: 0%; float: left;">
            <img src="../../../../assets/img/clodeo-logo.png" style="z-index: 100;">
        </div>
        <div class="centle" style="padding-top: 5%; padding-bottom: 3%;">
            <h3>PT. CLODEO INDONESIA JAYA</h3>
            <h5>Jalan Buah Batu No. 105 A-B Kel. Turangga, Kec. Lengkong, Bandung</h5>
        </div>
    </div>
    <hr>
    <br><br>
    <h4 style="text-align: center;">Report Absent <span style="text-transform: uppercase;">{{month}}</span> {{year}}</h4>
    <div style="padding-top: 2%;">
        <p-table [value]="reports" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="4" style="width: 5%; text-align: center; font-weight: bold;">NO</th>
                    <th rowspan="4" style="width: 10%; font-weight:bold; text-align: center;">ID</th>
                    <th rowspan="4" style="font-weight:bold; text-align: center;">NAME</th>
                    <th colspan="3" style="width: 40%; text-align: center; font-weight:bold;">PRESENCE</th>
                </tr>
                <tr>
                    <th style="font-weight: bold; text-align: center;">IN</th>
                    <th style="font-weight: bold; text-align: center;">PERMISSION</th>
                    <th style="font-weight: bold; text-align: center;">INATTENTIVE</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-report let-i="rowIndex">
                <tr>
                    <td style="text-align: center;">{{i + 1}}</td>
                    <td style="text-align: center;">{{report.employeeId}}</td>
                    <td style="text-transform: capitalize;">{{report.name}}</td>
                    <td style="text-align: center; font-weight: bold;">{{report.present.in}}</td>
                    <td style="text-align: center; font-weight: bold;">{{report.present.permission}}</td>
                    <td style="text-align: center; font-weight: bold;">{{report.present.inattentive}}</td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="footer">
                <tr>
                    <td>ssss</td>
                    <td>ssss</td>
                </tr>
            </ng-template> -->
        </p-table>
    </div>
</div>
