<p-dialog header="UPDATE EMPLOYEE" [(visible)]="displayUpdate" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}" *ngIf="employeeTobeUpdated">
    <app-employee-form formType="update"  (submitClick)="submit($event)" [formValue]="employeeTobeUpdated"></app-employee-form>
</p-dialog>
