<ng-template #confirm>
    <div class="modal-header">
        <h5 class="modal-title title bold w-100 text-center" id="ModalLabel">Logout Confirm</h5>
        <button type="button" class="close position-close-mdl" data-dismiss="modal" aria-label="Close" (click)="closeConfirm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-group">
            Are you sure want to Logout?
        </div>
        <br>
        <div class="modal-group">
            <button type="button" class="btn btn-secondary" (click)="unsetLogout()" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger btn-block" (click)="setLogout()" data-dismiss="modal">Yes</button>
        </div>
    </div>
</ng-template>
    