<br><br><br>
<h1 class="title centle">- report -</h1>
<hr class="line">
<br>
<div style="padding-right: 90px; padding-left: 130px;">
     <div class="p-grid">
        <div class="p-col-3" *ngFor="let archive of reportList">
            <a (click)="showModalReport(archive.year, archive.months)" class="archive-hover">
                <p-card [style]="{'width': '15rem', 'height':'17rem', 'border-radius':'15px 15px 15px 15px', 'background':'black', 'cursor':'pointer'}">
                    <ng-template pTemplate="header">
                        <div class="icon-archive">
                            <i class="far fa-calendar-alt"></i>
                            <h1 class="jdl-archive title">{{archive.year}}</h1>
                        </div>
                    </ng-template>
                </p-card>
            </a>
        </div>
     </div>
</div>
<app-report-month [year]="selectedYear" [months]="selectedMonths"></app-report-month>