<br><br><br>
<h1 class="title centle">- ABOUT US -</h1>
<hr class="line">
<br><br><br><br><br><br><br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md" *ngFor="let emp of employee">
            <label class="crd">
                <input type="checkbox" style="display: none;">
                <div class="flip-card">
                    <div class="front">
                        <img [src]="emp.imgUrl">
                        <br><br>
                        <h1>{{emp.name}}</h1>
                        <h2>{{emp.position}}</h2>
                    </div>
                    <div class="back">
                        <h1>About me</h1>
                        <hr>
                        <p>{{emp.description}}</p>
                        <hr>
                    </div>
                </div>
            </label>
        </div>

    </div>
</div>
<br><br><br><br><br><br>