<div class="modal-body">
  <form #modalForm="ngForm">
    <div class="form-group">
      <label for="InputName" class="bold">Name :</label>
      <input name="name" type="text" class="form-control txt-transform" id="InputName"
        placeholder="Enter Name" [(ngModel)]="formValue.name" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="InputPosition" class="bold">Position :</label>
      <input name="position" type="text" class="form-control txt-transform" id="InputPosition" placeholder="Enter Position"
        [(ngModel)]="formValue.position" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="Email" class="bold">Email :</label>
      <input name="email" type="email" class="form-control" id="Email" placeholder="Enter Email"
        [(ngModel)]="formValue.email" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="Address" class="bold">Address :</label>
      <textarea name="address" class="form-control txt-transform" id="InputAddress" placeholder="Enter Address"
        [(ngModel)]="formValue.address" required autocomplete="off"></textarea>
    </div>
  </form>
  <div class="modal-footer">
    <button pButton pRipple type="submit" class="p-button-secondary form-control space" label="{{formType}}" (click)="submitClick.emit(formValue)" [disabled]="!(modalForm.form.valid && modalForm.form.dirty)"></button>
  </div>
</div>
