<p-dialog header="UPDATE ABSENT" [(visible)]="displayUpdate" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}" *ngIf="attendanceTobeUpdated">
    <!-- <app-attendance-form formType="update" [formValue]="attendanceTobeUpdated" (submitClick)="submit($event)"></app-attendance-form> -->
    <div class="modal-body scr-mdl">
      <form #modalForm="ngForm">
        <div class="form-group">
          <label class="bld-txt" for="InputName">Name :</label>
          <p name="name" class="form-control txt-transform" id="InputName" autocomplete="off">{{attendanceTobeUpdated.name}}</p>
        </div>
        <div class="form-group">
        <label class="bld-txt" for="InputPresence">Presence :</label>
        <div class="form-control">
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" [checked]="(attendanceTobeUpdated.currentPresentDetail.present === true) ? true : false" (change)="addAttendanceStatus(true)" value="true" name="presence" type="radio" id="InputIn" (click)="enable('disable', true)">
              <label class="custom-control-label" for="InputIn">In</label>
            </div>
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" [checked]="(attendanceTobeUpdated.currentPresentDetail.present === false && attendanceTobeUpdated.currentPresentDetail.reason != '-') ? true : false" (change)="addAttendanceStatus('permission')" value="permission" name="presence" type="radio" id="InputPermission" (click)="enable('enable', 'permission')">
              <label class="custom-control-label" for="InputPermission">Permission</label>
            </div>
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" [checked]="(attendanceTobeUpdated.currentPresentDetail.present === false && attendanceTobeUpdated.currentPresentDetail.reason == '-') ? true : false" (change)="addAttendanceStatus('inattentive')" value="inattentive" name="presence" type="radio" id="InputInattentive" (click)="enable('disable', 'inattentive')">
              <label class="custom-control-label" for="InputInattentive">Inattentive</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="bld-txt" for="Reason">Reason :</label>
          <textarea #textArea name="reason" class="form-control" id="InputReason" placeholder="Enter Reason" [(ngModel)]="attendanceTobeUpdated.currentPresentDetail.reason" required autocomplete="off" [disabled]="(attendanceTobeUpdated.currentPresentDetail.present === false && attendanceTobeUpdated.currentPresentDetail.reason != '-') ? false : true"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button pButton pRipple type="submit" class="p-button-secondary form-control space" label="UPDATE" [disabled]="submitStatus" (click)="submit(attendanceTobeUpdated)"></button>
    </div>
</p-dialog>
