<p-dialog header="DETAIL ABSENT" [(visible)]="displayDetail" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}" *ngIf="detail">
  <div class="modal-body">
    <form #modalForm="ngForm">
      <div class="form-group">
        <label class="bold" for="Name">Name :</label>
        <p name="name" class="form-control txt-transform" id="Name">{{detail.name}}</p>
      </div>
      <div class="form-group">
        <label class="bold" for="Presence">Presence :</label>
        <p name="presence" class="form-control" id="Presence" [innerText]="presenceChecker(detail.currentPresentDetail)"></p>
      </div> 
      <div class="form-group">
        <label class="bold" for="TimeAb">Time Absent :</label>
        <p name="timeab" class="form-control" id="TimeAb">{{detail.currentPresentDetail.date | uppercase}}</p>
      </div>
    </form>
  </div>
</p-dialog>
    