<br><br><br>
<div style="padding-right: 90px; padding-left: 90px;">
    <h1 class="title" style="text-align: center;">- Table Employees -</h1>
    <hr class="line">
    <div class="p-d-flex p-p-3">
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mr-2" (click)="showCreateModal()"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteAllEmploye(dataEmp)" [disabled]="!dataEmp|| !dataEmp.length"></button>
        <div class="p-ml-auto">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input type="text" pInputText placeholder="Global Search" (input)="dt.filterGlobal($event.target.value, 'contains')">         
            </div>
        </div>
    </div>
    <p-table [(selection)]="dataEmp" selectionMode="single" dataKey="_id" #dt [globalFilterFields]="['name', 'position', 'email', 'address']" [value]="employees" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50, {showAll: 'All'}]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3em; background: transparent;">
                    <p-tableHeaderCheckbox [hidden]="hiddenCheck()"></p-tableHeaderCheckbox>
                </th>
                <th style="background-color: transparent; font-weight: bold; text-align: center; width: 60px;">NO</th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;" pSortableColumn="name">NAME<p-sortIcon field="name"></p-sortIcon></th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;" pSortableColumn="position">POSITION<p-sortIcon field="position"></p-sortIcon></th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;">EMAIL</th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;">ADDRESS</th>
                <th style="background-color: transparent; font-weight: bold; text-align: center;">ACTION</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emp let-i="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="emp"></p-tableCheckbox>
                </td>
                <td [hidden]="true">{{emp._id}}</td>
                <td style="text-align: center;">{{i + 1}}</td>
                <td style="text-align: center; text-transform: capitalize;">{{emp.name}}</td>
                <td style="text-align: center; text-transform: capitalize;">{{emp.position}}</td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;" href="mailto:{{emp.email}}">{{emp.email}}</a>
                </td>
                <td style="text-align: center; text-transform: capitalize;">
                    <a style="text-decoration: none;" target="_blank" href="https://earth.google.com/web/search/{{emp.address}}">{{emp.address}}</a>
                </td>
                <td style="text-align: center;">
                    <a class="btn btn-outline-success" (click)="showUpdateModal(emp)"><span class="fa fa-edit fa-fw"></span></a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-delete-confirm></app-delete-confirm>
<app-employee-create></app-employee-create>
<app-employee-update></app-employee-update>