<img src="../../../assets/img/banner-login.png" class="img-lgnfrm">
<div class="login-card">
    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 frm-lgn-left">
                <br><br>
                <h1 class="login title">LOGIN</h1>
                <br>
                <form #loginForm="ngForm">
                    <div class="form-group">
                        <label><i class="fas fa-user"></i> Username</label>
                        <input type="text" name="username" class="form-control" [(ngModel)]="user.username" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label><i class="fas fa-key"></i> Password</label>
                        <input type="password" name="password" class="form-control" [(ngModel)]="user.password" required autocomplete="off">
                    </div>
                    <br>
                    <button class="btn btn-block btn-dark" (click)="validateLogin()" [disabled]="!(loginForm.form.valid && loginForm.form.dirty)">Sign in</button>
                </form>
                <br><br><br>
            </div>
            <div class="col-md-3 frm-lgn-right">
                <div>
                    <img src="../../../assets/img/team.svg" class="magee">
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="    ">
                    <h3 class="title jdl">welcome</h3>
                    <p style="text-align: justify;">"Merayakan kesuksesan bukanlah sebuah masalah, tetapi jauh lebih penting untuk memperhatikan pelajaran yang didapatkan dari sebuah kegagalan."</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <br><br><br>
</div>
