<p-dialog header="ABSENT EMPLOYEE" [(visible)]="displayAbsent" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}">
  <div class="modal-body scr-mdl">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitches" (click)="allIn(switchCondition)">
      <label class="custom-control-label" for="customSwitches"><b>ALL IN</b></label>
    </div>
    <br>
    <form #modalForm="ngForm">
      <div *ngFor="let emps of employeeAttendances; index as i">
        <div class="form-group form-control">
          <label for="InputName"><b>Name : </b><label class="text-primary txt-transform">{{emps.name}}</label></label>
        </div>
        <div class="form-group form-control">
          <label for="InputPresence"><b>Presence : </b>
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" value="true" [name]="'presence' + i" type="radio" [id]="'InputIn' + i" (click)="enable(true, i)" [checked]="radioIn">
              <label class="custom-control-label text-primary" [for]="'InputIn' + i" y>In</label>
            </div>
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" value="permission" [name]="'presence' + i" type="radio" [id]="'InputPermission' + i" (click)="enable('permission', i)">
              <label class="custom-control-label text-primary" [for]="'InputPermission' + i">Permission</label>
            </div>
            <div class="custom-control custom-control-inline custom-radio">
              <input class="custom-control-input" value="inattentive" [name]="'presence' + i" type="radio" [id]="'InputInattentive' + i" (click)="enable('inattentive', i)">
              <label class="custom-control-label text-primary" [for]="'InputInattentive' + i">Inattentive</label>
            </div>
          </label>
        </div> 
        <div class="form-group" [ngStyle]="{display: hidden(i)}">
          <label for="Reason"><b>Reason : </b></label>
          <textarea name="reason" class="form-control" placeholder="Enter Reason" required autocomplete="off" [(ngModel)]="emps.currentPresentDetail.reason"></textarea>
        </div>
        <br>
        <hr class="solid">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button pButton pRipple type="submit" class="p-button-secondary form-control space" label="ABSENT" [disabled]="submitStatus" (click)="insertAttendance(employeeAttendances)" data-dismiss="modal"></button>
  </div>
</p-dialog>
        
