<p-dialog header="ADD EMPLOYEE" [(visible)]="displayCreate" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}">
    <app-employee-form formType="create" (submitClick)="submit($event)"></app-employee-form>
</p-dialog>
