<p-dialog header="PICK MONTH" [(visible)]="displayMonth" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeModal()" [style]="{'width':' 500px'}">
    <p-table [scrollable]="true" scrollHeight="200px" [value]="months" selectionMode="single" [(selection)]="selectedMonth" dataKey="no" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="body" let-month>
            <tr [pSelectableRow]="month">
                <td [hidden]="true">{{month.no}}</td>
                <td style="text-align: center;"><b [innerText]="latestMonth(month.name)"></b></td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <button class="p-button-secondary form-control space" pButton type="submit" label="send" (click)="sendMonth('preview/')" [disabled]="!selectedMonth"></button>
</p-dialog>